<app-landing-nav></app-landing-nav>

<body>
  <div class="main">
    <div class="container">
      <div class="row d-flex justify-content-center gy-5 gx-5">
        <div class="col-12 col-lg-5 order-lg-2 d-flex justify-content-center">
          <!-- header svg -->
          <app-landing-svg></app-landing-svg>
          <!-- header svg -->
        </div>

        <div class="col-12 col-lg-7 order-lg-1 content">
          <div class="card">
            <div class="card-container container info">
              <div class="header">
                <h1 class="text-center header-2">
                  A safe space for grievances about work.
                </h1>
              </div>

              <div class="row">
                <div class="sub-header">
                  <h3 class="text-center sub-header">
                    Message board for stressed out employees.
                  </h3>
                </div>
                <div class="call row">
                  <button
                    (click)="goToSignup()"
                    type="button"
                    class="btn btn-lg btn-primary mx-auto"
                  >
                    Sign Up
                  </button>
                </div>
                <div class="row">
                  <a class="button-quote text-center" (click)="goToLogin()"
                    >Already have an account?</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- secound section -->
  <app-landing-section-two></app-landing-section-two>
  <!-- secound section -->
</body>
