<div class="create-acc row d-block">
  <div
    class="title text-center align-items-center d-flex justify-content-center"
  >
    <h1>Sign up</h1>
  </div>
  <form
    action=""
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="d-flex row justify-content-center"
  >
    <!-- Username -->
    <div class="control d-flex flex-column form-group  align-items-center">
      <label for="username" class="align-self-start"> Username: </label>
      <input
        [class.is-invalid]="username?.invalid && username.touched"
        type="text"
        formControlName="username"
        placeholder="required"
        class="form-control"
      />
      <!-- Validation Text -->
      <div class="validation" *ngIf="username?.invalid && username?.touched">
        <small
          class="text-danger"
          *ngIf="
        username.errors?.['required']
        "
          >A username is required.</small
        >
        <small
          class="text-danger"
          *ngIf="
        username.errors?.['minlength']
        "
          >A username must be atleast 8 characters long.</small
        >
      </div>
    </div>
    <!-- Password -->
    <div class="control d-flex flex-column form-group  align-items-center">
      <label for="username" class="align-self-start"> Password: </label>
      <input
        [class.is-invalid]="password.invalid && password.touched"
        type="text"
        formControlName="password"
        placeholder="required"
        class="form-control"
      />
      <!-- Validation -->
      <div class="validation" *ngIf="password.invalid && password.touched">
        <small class="text-danger" *ngIf="password.errors?.['required']">
          A password is required
        </small>
      </div>
    </div>
    <!-- Email -->
    <div class="control d-flex flex-column form-group  align-items-center">
      <label for="username" class="align-self-start"> Email: </label>
      <input
        [class.is-invalid]="email.invalid && email.touched"
        type="text"
        formControlName="email"
        placeholder="required"
        class="form-control"
      />
      <!-- Validation -->
      <div class="validation" *ngIf="email.invalid && email.touched">
        <small class="text-danger" *ngIf="email.errors?.['required']">
          An email is required
        </small>
      </div>
    </div>
    <!-- Job title -->
    <div class="control d-flex flex-column form-group align-items-center">
      <label for="username" class="align-self-start"> Job Title: </label>
      <input
        type="text"
        formControlName="job"
        placeholder="required"
        class="form-control align-self-center"
        [class.is-invalid]="job.invalid && job.touched"
      />
      <!-- Validation -->
      <div class="validation" *ngIf="job.invalid && job.touched">
        <small class="text-danger" *ngIf="job.errors?.['required']">
          A job title is required
        </small>
      </div>
    </div>

    <!-- Submit Btn-->
    <div class="d-flex justify-content-center">
      <button class="submit">Create Account</button>
    </div>
  </form>
</div>
