$footer-height: 100px;

.body {
    position: relative;
    height:auto;
    min-height: 100%;
    box-sizing: border-box;
}


/* for the rendering */

body {
    position: relative;
    margin: 0;
    min-height: 100vh;
    padding-bottom: $footer-height;
}

footer {
    position:absolute;
    height: $footer-height;
    width: 100%;
    bottom:0;
    background-color: #efefef;
    text-align: center;
}

