$main-color: #bf3100;

* {
    margin: 0px;
    padding:.2rem 0  .2rem .75rem ;
    font-family: 'Lora', serif;
    background-color: #bf3100;
}

.logo {
    width: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

 }


.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;

}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham7 .top {
    stroke-dasharray: 40 82;
}

.ham7 .middle {
    stroke-dasharray: 40 111;
}

.ham7 .bottom {
    stroke-dasharray: 40 161;
}

.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}

.ham7.active .middle {
    stroke-dashoffset: 23px;
}

.ham7.active .bottom {
    stroke-dashoffset: -83px;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

