<!-- <div class="page container-fluid   column d-flex vh-100 vw-100 overflow-hidden"> -->

<!-- Left Side -->

<!-- Left side toggle for logging in -->
<!-- <div
      class="left-side row-6 row d-flex justify-content-center align-items-center vw-50"
      *ngIf="!signup"
    >
      <div class="row-6 d-flex justify-content-center text-center">
        <img
          src="../../../assets/auth/login-img.svg"
          alt=""
          class="login-img"
        />
      </div>
      <div class="row-6 h-50 justify-content-center d-flex">
        <button class="btn signup" (click)="switchView()">Sign up</button>
      </div>
    </div> -->
<!-- Signup Comp -->
<!-- <div class="create acc row-6 w-50 text-center" *ngIf="signup">
      <app-signup></app-signup>
    </div> -->

<!-- Right Side -->
<!-- Right-side toggle for creating account -->

<!-- <div
  class="right-side row-6 vw-50 row d-flex justify-content-center align-items-center"
  *ngIf="!login"
>
  <div class="row-6 d-flex justify-content-center text-center">
    <img src="../../../assets/auth/signup-img.svg" alt="" class="signup-img" />
  </div>
  <div class="row-6 h-50 justify-content-center d-flex">
    <button class="btn signup" (click)="switchView()">Login</button>
  </div>
</div> -->

<!-- Login Comp -->

<!-- <div class="login row-6 w-50 text-center" *ngIf="login">
      <app-login></app-login>
    </div>
  </div> -->

<div class="container-fluid">
  <div class="row">
      <!-- Left side -->
    <div class="col-sm-12 col-lg-6">
      <app-signup *ngIf="signup"></app-signup>
      <app-login *ngIf="login"></app-login>

    </div>

      <!-- Right side -->
    <div class="col-sm-12 d-none d-lg-block col-lg-6">
      <div
        class="right-side h-100 row d-flex justify-content-center align-items-center"
        *ngIf="!login"
      >
        <div class="row-6 d-flex justify-content-center text-center">
          <img
            src="../../../assets/auth/signup-img.svg"
            alt=""
            class="signup-img"
          />
        </div>
        <div class="row-6 h-50 justify-content-center d-flex">
          <button class="btn signup" (click)="switchView()">Login</button>
        </div>
      </div>

      <div
      class="left-side row h-100 d-flex justify-content-center align-items-center"
      *ngIf="!signup"
    >
      <div class="row-6 d-flex justify-content-center text-center">
        <img
          src="../../../assets/auth/login-img.svg"
          alt=""
          class="login-img"
        />
      </div>
      <div class="row-6 h-50 justify-content-center d-flex">
        <button class="btn signup" (click)="switchView()">Sign up</button>
      </div>
    </div>
    </div>
  </div>
</div>
