<div class="section-2">
  <div class="container into">
    <div class="row">
    <div class="col-12 col-lg-7">
      <h1 id="header-text">Made by Revature employees, for Revature employees</h1>
    </div>

    <div class="col-12 col-lg-5 align-self-center desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur
        accusantium nisi molestiae magnam mollitia, pariatur odit quia sequi
        nihil voluptates iusto quos, enim blanditiis, nostrum quam quibusdam
        tenetur error. Iusto?
    </div>
    </div>
  </div>
  <!-- Start of Carsole -->

  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <div class="card mb-2 shadow">
          <div class="card-container container">
            <svg
              class="icons"
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 96 96"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect width="96" height="96" style="fill: none" />
                </clipPath>
              </defs>
              <g style="clip-path: url(#clip-path)">
                <g id="file">
                  <g id="pills">
                    <g id="Group_160" data-name="Group 160">
                      <path
                        id="Path_191"
                        data-name="Path 191"
                        d="M10,84V12a8,8,0,0,1,8-8H62.563A8.3,8.3,0,0,1,68.43,6.43L83.57,21.57A8.3,8.3,0,0,1,86,27.437V84a8,8,0,0,1-8,8H18A8,8,0,0,1,10,84Z"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <path
                        id="Path_192"
                        data-name="Path 192"
                        d="M64,5V17a8,8,0,0,0,8,8H84"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <g id="Group_159" data-name="Group 159">
                        <line
                          id="Line_26"
                          data-name="Line 26"
                          x1="27"
                          y1="46"
                          x2="69"
                          y2="46"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                        <line
                          id="Line_27"
                          data-name="Line 27"
                          x1="27"
                          y1="69"
                          x2="69"
                          y2="69"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="header">
              <h1 class="text-center" style="text-size: 33px">Title</h1>
            </div>

            <div class="row">
              <div class="sub-header">
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  reprehenderit alias iste accusamus modi dignissimos provident.
                  Consequatur sequi laboriosam quia corporis suscipit ipsa,
                  maxime animi. Laboriosam, tempora. Accusantium, sit veniam?.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="8000">
        <div class="card mb-2 shadow">
          <div class="card-container container">
            <svg
              class="icons"
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 96 96"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect width="96" height="96" style="fill: none" />
                </clipPath>
              </defs>
              <g style="clip-path: url(#clip-path)">
                <g id="file">
                  <g id="pills">
                    <g id="Group_160" data-name="Group 160">
                      <path
                        id="Path_191"
                        data-name="Path 191"
                        d="M10,84V12a8,8,0,0,1,8-8H62.563A8.3,8.3,0,0,1,68.43,6.43L83.57,21.57A8.3,8.3,0,0,1,86,27.437V84a8,8,0,0,1-8,8H18A8,8,0,0,1,10,84Z"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <path
                        id="Path_192"
                        data-name="Path 192"
                        d="M64,5V17a8,8,0,0,0,8,8H84"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <g id="Group_159" data-name="Group 159">
                        <line
                          id="Line_26"
                          data-name="Line 26"
                          x1="27"
                          y1="46"
                          x2="69"
                          y2="46"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                        <line
                          id="Line_27"
                          data-name="Line 27"
                          x1="27"
                          y1="69"
                          x2="69"
                          y2="69"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="header">
              <h1 class="text-center" style="text-size: 33px">Title</h1>
            </div>

            <div class="row">
              <div class="sub-header">
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  reprehenderit alias iste accusamus modi dignissimos provident.
                  Consequatur sequi laboriosam quia corporis suscipit ipsa,
                  maxime animi. Laboriosam, tempora. Accusantium, sit veniam?.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="8000">
        <div class="card mb-2 shadow">
          <div class="card-container container">
            <svg
              class="icons"
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 96 96"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect width="96" height="96" style="fill: none" />
                </clipPath>
              </defs>
              <g style="clip-path: url(#clip-path)">
                <g id="file">
                  <g id="pills">
                    <g id="Group_160" data-name="Group 160">
                      <path
                        id="Path_191"
                        data-name="Path 191"
                        d="M10,84V12a8,8,0,0,1,8-8H62.563A8.3,8.3,0,0,1,68.43,6.43L83.57,21.57A8.3,8.3,0,0,1,86,27.437V84a8,8,0,0,1-8,8H18A8,8,0,0,1,10,84Z"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <path
                        id="Path_192"
                        data-name="Path 192"
                        d="M64,5V17a8,8,0,0,0,8,8H84"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <g id="Group_159" data-name="Group 159">
                        <line
                          id="Line_26"
                          data-name="Line 26"
                          x1="27"
                          y1="46"
                          x2="69"
                          y2="46"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                        <line
                          id="Line_27"
                          data-name="Line 27"
                          x1="27"
                          y1="69"
                          x2="69"
                          y2="69"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="header">
              <h1 class="text-center" style="text-size: 33px">Title</h1>
            </div>

            <div class="row">
              <div class="sub-header">
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  reprehenderit alias iste accusamus modi dignissimos provident.
                  Consequatur sequi laboriosam quia corporis suscipit ipsa,
                  maxime animi. Laboriosam, tempora. Accusantium, sit veniam?.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Start of cCards -->
  <div class="container info-cards">
    <div class="row">
      <div class="col-4">
        <div class="card mb-2 shadow">
          <div class="card-container container">
            <svg
              class="icons"
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 96 96"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect width="96" height="96" style="fill: none" />
                </clipPath>
              </defs>
              <g style="clip-path: url(#clip-path)">
                <g id="file">
                  <g id="pills">
                    <g id="Group_160" data-name="Group 160">
                      <path
                        id="Path_191"
                        data-name="Path 191"
                        d="M10,84V12a8,8,0,0,1,8-8H62.563A8.3,8.3,0,0,1,68.43,6.43L83.57,21.57A8.3,8.3,0,0,1,86,27.437V84a8,8,0,0,1-8,8H18A8,8,0,0,1,10,84Z"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <path
                        id="Path_192"
                        data-name="Path 192"
                        d="M64,5V17a8,8,0,0,0,8,8H84"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <g id="Group_159" data-name="Group 159">
                        <line
                          id="Line_26"
                          data-name="Line 26"
                          x1="27"
                          y1="46"
                          x2="69"
                          y2="46"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                        <line
                          id="Line_27"
                          data-name="Line 27"
                          x1="27"
                          y1="69"
                          x2="69"
                          y2="69"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="header">
              <h1 class="text-center" style="text-size: 33px">Title</h1>
            </div>

            <div class="row">
              <div class="sub-header">
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  reprehenderit alias iste accusamus modi dignissimos provident.
                  Consequatur sequi laboriosam quia corporis suscipit ipsa,
                  maxime animi. Laboriosam, tempora. Accusantium, sit veniam?.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-2 shadow">
          <div class="card-container container">
            <svg
              class="icons"
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 96 96"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect width="96" height="96" style="fill: none" />
                </clipPath>
              </defs>
              <g style="clip-path: url(#clip-path)">
                <g id="file">
                  <g id="pills">
                    <g id="Group_160" data-name="Group 160">
                      <path
                        id="Path_191"
                        data-name="Path 191"
                        d="M10,84V12a8,8,0,0,1,8-8H62.563A8.3,8.3,0,0,1,68.43,6.43L83.57,21.57A8.3,8.3,0,0,1,86,27.437V84a8,8,0,0,1-8,8H18A8,8,0,0,1,10,84Z"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <path
                        id="Path_192"
                        data-name="Path 192"
                        d="M64,5V17a8,8,0,0,0,8,8H84"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <g id="Group_159" data-name="Group 159">
                        <line
                          id="Line_26"
                          data-name="Line 26"
                          x1="27"
                          y1="46"
                          x2="69"
                          y2="46"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                        <line
                          id="Line_27"
                          data-name="Line 27"
                          x1="27"
                          y1="69"
                          x2="69"
                          y2="69"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="header">
              <h1 class="text-center" style="text-size: 33px">Title</h1>
            </div>

            <div class="row">
              <div class="sub-header">
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  reprehenderit alias iste accusamus modi dignissimos provident.
                  Consequatur sequi laboriosam quia corporis suscipit ipsa,
                  maxime animi. Laboriosam, tempora. Accusantium, sit veniam?.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-2 shadow">
          <div class="card-container container">
            <svg
              class="icons"
              id="Layer_1"
              data-name="Layer 1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 96 96"
            >
              <defs>
                <clipPath id="clip-path">
                  <rect width="96" height="96" style="fill: none" />
                </clipPath>
              </defs>
              <g style="clip-path: url(#clip-path)">
                <g id="file">
                  <g id="pills">
                    <g id="Group_160" data-name="Group 160">
                      <path
                        id="Path_191"
                        data-name="Path 191"
                        d="M10,84V12a8,8,0,0,1,8-8H62.563A8.3,8.3,0,0,1,68.43,6.43L83.57,21.57A8.3,8.3,0,0,1,86,27.437V84a8,8,0,0,1-8,8H18A8,8,0,0,1,10,84Z"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <path
                        id="Path_192"
                        data-name="Path 192"
                        d="M64,5V17a8,8,0,0,0,8,8H84"
                        style="
                          fill: none;
                          stroke: #58595b;
                          stroke-linecap: round;
                          stroke-miterlimit: 10;
                          stroke-width: 4px;
                        "
                      />
                      <g id="Group_159" data-name="Group 159">
                        <line
                          id="Line_26"
                          data-name="Line 26"
                          x1="27"
                          y1="46"
                          x2="69"
                          y2="46"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                        <line
                          id="Line_27"
                          data-name="Line 27"
                          x1="27"
                          y1="69"
                          x2="69"
                          y2="69"
                          style="
                            fill: none;
                            stroke: #58595b;
                            stroke-linecap: round;
                            stroke-miterlimit: 10;
                            stroke-width: 4px;
                          "
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            <div class="header">
              <h1 class="text-center" style="text-size: 33px">Title</h1>
            </div>

            <div class="row">
              <div class="sub-header">
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  reprehenderit alias iste accusamus modi dignissimos provident.
                  Consequatur sequi laboriosam quia corporis suscipit ipsa,
                  maxime animi. Laboriosam, tempora. Accusantium, sit veniam?.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
