

  <app-landing-nav></app-landing-nav>

<body style="background-color: #F84343;">
  <div class="title-bkg">
  <header>
        <div class="card-header">
            Frequently Asked Questions
        </div>
  </header>
  </div>



<div class="accordion-bkg">

  <div class="accordion" id="faqs">
    <div class="accordion-item">
      <h2 class="question" id="headingOne">
        <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why does Revvit exist?
        </button>
      </h2>

    <div id="collapseOne" class="accordian-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="answer">
          We were just in a silly goofy mood that's all  
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="question" id="headingTwo">
      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Who are the creators of Revvit?
      </button>
    </h2>

  <div id="collapseTwo" class="accordian-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
    <div class="answer">
      Ethan, Alec, Victoria, Ryan, Hai, Eric, Hal, Tylar, Will, Matthew, Brayan, Rayshaun
    </div>
  </div>
</div>

<div class="accordion-item">
  <h2 class="question" id="headingThree">
    <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
      How do I submit a question?
    </button>
  </h2>

<div id="collapseThree" class="accordian-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
  <div class="answer">
    Down below, but not sure if we gon keep that part
  </div>
</div>
</div>

</div>

  </div>

  <div class="submitting">
    <form class="entire-form">
      <div class="form-group">
        <label>
          Want to submit a question? Me too..
        </label>
        <input class="form-control" type="text" placeholder="Type your question here... (needs work)">       
      </div>
      <button type="button" class="btn btn-outline-danger" style="color: black;">Submit</button>
    </form>
  </div>
  
  <div class="divider shadow-lg" style="background-color: white;">
    <h1 class="text-center">This is a divider</h1>
  </div>
</body>






